QTabWidget QStackedWidget {
    background: url(:images/backgroundlogo.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #222222, stop: 1 #333333);
}
