@charset "UTF-8";

/* Global */

body {
  font-family: sans-serif;
  margin: 24px;
}

/* Main title */

.title {
  vertical-align: middle;
}

h1 {
  font-weight: normal;
  margin-left: 24px;
}

/* Releases */

h2 {
  font-weight: normal;
  background-color: #dedede;
}

.programDate {
  font-size: small;
  font-style: italic;
}

/* Changes */

.changes {
  margin-top: 10px;
}

.changes > tr > td {
  padding-bottom: 5px;
}

/* Tag styling */

.tagContainer {
  padding-right: 12px;
  font-size: small;
}

.new .tag {
  color: #3daee9;
  background-color: #c9edfa;
}

.improved .tag {
  color: #27ae60;
  background-color: #a2f8d3;
}

.fixed .tag {
  color: #f57400;
  background-color: #fae3c6;
}

.removed .tag {
  color: #7f8c8d;
  background-color: #e1e6e7;
}

.problem .tag {
  color: #c4414e;
  background-color: #fcdbe3;
}
